.env
node_modules/
.idea/
.vscode/
Dockerfile
.logs/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

mongo-init.js

# logs
logs/